{% extends "blog/base.html" %}
{% load markup %}

{% block blogcontent %}

{% for post in object_list %}
<section id="blog-posts">
    <article class="blog-post">
        <h1 class="post-heading"><a href="{{ post.get_absolute_url }}">{{ post.title }}</a></h1>
        <p class="lead">by {{ post.author }}</p>
        <hr>
        <p><span class="glyphicon glyphicon-time"></span> Posted on {{ post.created }}</p>
        <hr>
        <img src="http://placehold.it/900x300" class="img-responsive">
        <hr>
        <p class="lead">{{ post.ingress|markdown }}</p>
        <p><a href="{{ post.get_absolute_url }}">Read more...</a></p>
</article>
{% endfor %}

{% endblock %}