{% extends "blog/base.html" %}
{% load markup %}
{% load comments_tags %}
{% block blogcontent %}

  <article>
    <h1>{{ post.title }}</h1>
    <p class="lead">by {{ post.author.get_full_name }}</p>
    <hr>
    <p><span class="glyphicon glyphicon-time"></span> Posted on {{ post.created }}</p>
    <hr>
    <img src="http://placehold.it/900x300" class="img-responsive">
    <hr>
    <p class="lead">{{ post.ingress|markdown }}</p>
    {{ post.body|markdown }}
  </article>
  <hr>

  {% show_comments post.get_identifier_url "http://localhost:8080" %}

{% endblock %}