{% extends "blog/base.html" %}
{% load markup %}

{% block blogcontent %}

<article>
  <h1>{{ post.title }}</h1>
  <p class="lead">by {{ post.author.get_full_name }}</p>
  <hr>
  <p><span class="glyphicon glyphicon-time"></span> Posted on {{ post.created }}</p>
  <hr>
  <img src="http://placehold.it/900x300" class="img-responsive">
  <hr>
  <p class="lead">{{ post.ingress|markdown }}</p>
  {{ post.body|markdown }}
</article>
<hr>

<!-- the comment box -->
<div class="well">
  <h4>Leave a Comment:</h4>
  <form role="form">
    <div class="form-group">
      <textarea class="form-control" rows="3"></textarea>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>

<hr>

<!-- the comments -->
<h3>Test comment <small>9:41 PM on August 24, 2013</small></h3>
<p>Yo, I'm a comment. What's up dawg?</p>

<h3>Another comment <small>9:47 PM on August 24, 2013</small></h3>
<p>Lorem ipsum whatever</p>


{% endblock %}